
h6 {
    color: #8A99AF;
    margin: 3px;
}

body {
    top: 0px;
    margin: 0px;
    background-color: #F1F5F9;
}

/* Topbar Styles */
.topbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px); /* Full width minus sidebar width */
    height: 58px; /* Height of the topbar */
    background-color: white;
    align-items: center; /* Vertically center text */
    z-index: 1000; /* Make sure the topbar is above other content */
    margin: 0px;
    border-bottom: 2px solid #00000020;
    
  }
  
  /* Container for the header texts */
  .topbar .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%; /* Make sure the content div takes up full height */
  }
  
  /* Main heading (h1) */
  .topbar h1 {
    font-size: 24px; /* Adjust as needed */
    color: #1C2434;
    margin: 0; /* Remove default margins */
  }
  
  /* Subheading (h2) */
  .topbar h2 {
    font-size: 14px; /* Significantly smaller than h1 */
    color: #1C2434;
    margin: 0;
    opacity: 0.7; /* Slightly faded */
  }
  

/* Sidebar Styles */
.sidebar {
    background-color: #1C2434;
    width: 250px; /* Adjust sidebar width as necessary */
    height: 100vh; /* Full viewport height */
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin: 0px;
  }
  
  /* Logo image */
  #logo {
    width: 90%;
    margin-bottom: 5px; /* Space between image and line */
  }
  
  /* Line under the logo */
  #line {
    width: 90%;
    height: 2px;
    background-color: white;
    margin-bottom: 5px; /* Adjust space below the line if needed */
  }
  
  /* Bottom section */
  #bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }

  #main-view {
    position: absolute;
    width: calc(100% - 250px);
    height: calc(100vh - 60px);
    top: 60px;
    left: 250px;
    text-align: center;
  }

  #control-buttons {
    height: 60px;
    margin: 10px;
  }

  .control-button {
    height: 50px;
    width: 50px;
  }

  #done-button {
    width: 400px;
    margin: 0px 20px;
  }

  #items p{
    color: white;
    margin: 2px;
  }

  #ticket-box {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  /* Ticket Styling */

  .ticket {
    height: 80%; /* 80% of container's height */
    width: 20%;  /* 20% of container's width */
    margin: 0 2%; /* 5% gap between ticket divs, 2.5% on each side */
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #00000020;
    border-radius: 16px;
  }